{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if not debug %}
            <script
                src="https://browser.sentry-cdn.com/5.19.1/bundle.min.js"
                integrity="sha384-ibWewy8LWP0FdvEBD3iLjNmbFkkh/FKtOz8GR9C8ZBWjDTbjbdIDpa4nc/AasWns"
                crossorigin="anonymous">
            </script>
        {% endif %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>

        {# favicon #}
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">

        {# Base stylesheets #}
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />


        {% block extra_css %}
        {% endblock %}
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <main>
            <h1>Welcome to RATOM</h1>
            {% block content %}{% endblock %}
        </main>

        {% block extra_js %}{% endblock %}
    </body>
</html>
